alias dwmconf='nvim ~/.local/src/suckless/dwm/config.h'
alias stconf='nvim ~/.local/src/suckless/st/config.h'
alias dmenuconf='nvim ~/.local/src/suckless/dmenu/config.h'
alias sluckup='cp ~/.local/src/suckless/dwm/config.h ~/myeeedistro/configs/dwm/config.h && cp ~/.local/src/suckless/st/config.h ~/myeeedistro/configs/st/config.h && cp ~/.local/src/suckless/st/config.h ~/myeeedistro/configs/st/config.h'
alias ll='ls -la'
alias la='ls -a'
alias l='ls -CF'
alias ..='cd ..'
alias ...='../..'
alias ~='cd ~'
alias c='clear'
alias gs='git status'
alias ga='git add'
alias gc='git commit -m'
alias gp='git push'
alias gl='git log --oneline --graph'
alias gd='git diff'
alias gpl='git push'
alias update='doas apk update && doas apk upgrade'
alias cleanup='doas apk cache clean'
alias mem='free -h'
alias df='df -h'
alias psg='ps aux | grep'
alias v='nvim'
